/* GENERAL */

*, *::before, *::after, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 'Montserrat', Sans-Serif;
}

body{
    background-color: #01020a;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(208,759,459)'%3E%3Cstop offset='0' stop-color='%23C16645'/%3E%3Cstop offset='1' stop-color='%233A2665'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='489' height='407.5' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.03'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; */
    font-family: 'Gruppo', cursive;
    font-family: 'Montserrat', sans-serif;
}

/* button */

.btn {
    z-index: 1000;
    display: block;
    max-width: 200px;
    position: relative;
    background: none;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    padding: 8px 30px;
    font-size: .75em;
    letter-spacing: .35em;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid rgba(255, 255, 255, 0.8);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    margin: 10px auto;
}

.btn:before, .btn:after {
    content: 'NO SERVICE';
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 0;
    width: 100%;
    -webkit-clip: rect(0px, 0px, 0px, 0px);
    clip: rect(0px, 0px, 0px, 0px);
    background: #fff;
    color: #000;
}

.btn:before {
    left: -3px;
    top: -2px;
    text-shadow: 2px 0 #fff;
    -webkit-box-shadow: 2px 0 #fff;
            box-shadow: 2px 0 #fff;
}

.btn:after {
    left: 2px;
    bottom: -2px;
    text-shadow: -1px 0 #fff;
    -webkit-box-shadow: -1px 0 #fff;
            box-shadow: -1px 0 #fff;
}

.btn:hover {
    background: white;
    color: black;
}

.btn:hover:before {
    animation: glitch-test 1.5s infinite linear alternate-reverse;
}

.btn:hover:after {
    -webkit-animation: glitch-test 2s infinite linear alternate;
            animation: glitch-test 2s infinite linear alternate;
}

@-webkit-keyframes glitch-test {
    0% {
        clip: rect(-3px, 600px, 0px, 0px);
    }
    5.88235% {
        clip: rect(0px, 600px, 0px, 0px);
    }
    11.76471% {
        clip: rect(-3px, 600px, 0px, 0px);
    }
    17.64706% {
        clip: rect(-3px, 600px, 0px, 0px);
    }
    23.52941% {
        clip: rect(100px, 600px, 100px, 0px);
    }
    29.41176% {
        clip: rect(0px, 600px, 600px, 0px);
    }
    35.29412% {
        clip: rect(100px, 600px, 0px, 0px);
    }
    41.17647% {
        clip: rect(0px, 600px, 600px, 0px);
    }
    47.05882% {
        clip: rect(100px, 600px, 0px, 0px);
    }
    52.94118% {
        clip: rect(-3px, 600px, 0px, 0px);
    }
    58.82353% {
        clip: rect(100px, 450px, 100px, 0px);
    }
    64.70588% {
        clip: rect(0px, 450px, 0px, 0px);
    }
    70.58824% {
        clip: rect(100px, 450px, 100px, 0px);
    }
    76.47059% {
        clip: rect(0px, 450px, 0px, 0px);
    }
    82.35294% {
        clip: rect(0px, 450px, 0px, 0px);
    }
    88.23529% {
        clip: rect(0px, 450px, 0px, 0px);
    }
    94.11765% {
        clip: rect(0px, 450px, 0px, 0px);
    }
    100% {
        clip: rect(0px, 450px, 0px, 0px);
    }
}

@keyframes glitch-test {
    0% {
        clip: rect(-3px, 600px, 0px, 0px);
    }
    5.88235% {
        clip: rect(0px, 600px, 0px, 0px);
    }
    11.76471% {
        clip: rect(-3px, 600px, 0px, 0px);
    }
    17.64706% {
        clip: rect(-3px, 600px, 0px, 0px);
    }
    23.52941% {
        clip: rect(100px, 600px, 100px, 0px);
    }
    29.41176% {
        clip: rect(0px, 600px, 600px, 0px);
    }
    35.29412% {
        clip: rect(100px, 600px, 0px, 0px);
    }
    41.17647% {
        clip: rect(0px, 600px, 600px, 0px);
    }
    47.05882% {
        clip: rect(100px, 600px, 0px, 0px);
    }
    52.94118% {
        clip: rect(-3px, 600px, 0px, 0px);
    }
    58.82353% {
        clip: rect(100px, 450px, 100px, 0px);
    }
    64.70588% {
        clip: rect(0px, 450px, 0px, 0px);
    }
    70.58824% {
        clip: rect(100px, 450px, 100px, 0px);
    }
    76.47059% {
        clip: rect(0px, 450px, 0px, 0px);
    }
    82.35294% {
        clip: rect(0px, 450px, 0px, 0px);
    }
    88.23529% {
        clip: rect(0px, 450px, 0px, 0px);
    }
    94.11765% {
        clip: rect(0px, 450px, 0px, 0px);
    }
    100% {
        clip: rect(0px, 450px, 0px, 0px);
    }
}

/* HEADER */

.primary-header {
    position: absolute;
    z-index: 999;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}
.primary-header .logo {
    margin: 2rem;
}
.primary-header .logo img{
    height: 50px;
}
.primary-header .mobile-nav-toggle{
    display: none;
    z-index: 9999;
    position: fixed;
    background: url('./assets/img/toggle.png') no-repeat center;
    background-size: contain;
    border: 0;
    width: 3rem;
    height: 3rem;
    top: 2rem;
    right: 2rem;
}
.primary-header .mobile-nav-toggle .menu-toggle {
    display: none;
}

.primary-header .primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 3rem;
    background: #000000;
}

@supports (backdrop-filter: blur(1rem)){
    .primary-header .primary-navigation {
        background: #ffffff10;
        backdrop-filter: blur(1rem);
    }
}

.primary-header .primary-navigation li a {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}
.primary-header .primary-navigation li a > [aria-hidden="true"] {
    font-weight: 700;
    margin-inline-end: 0.2rem;
}

@media (max-width: 660px) {
    .primary-header .primary-navigation {
        z-index: 1000;
        gap: 2rem;
        position: fixed;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        transform: translateX(100%);
        transition: transform .35s ease-in;
    }
    .primary-header .primary-navigation[data-visible="true"]{
        transform: translateX(0%);
    }
    .primary-header .mobile-nav-toggle {
        display: block;
    }
    .primary-header .mobile-nav-toggle[aria-expanded="true"]{
        background: url('./assets/img/close.png') no-repeat center;
        background-size: contain;
    }
}
@media (min-width: 660px) and (max-width: 880px){
    .primary-header .primary-navigation  li a > span[aria-hidden]{
        display: none;
    }
}
@media (min-width: 660px){
    .primary-header .primary-navigation {
        /* gap: 3rem; */
        padding-block: 2rem;
        padding-inline: clamp(3rem, 10vw, 10rem);
        border-radius: .5rem .0 0 .5rem;
    }
}

/* BANNER */


.banner {
    z-index: 0;
    position: relative;
    top: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.banner:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    z-index: 1;
    background: linear-gradient(to top, #01020a, transparent);
}
.banner .fitBg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}
.banner .content {
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner .content img {
    max-width: 80vw;
    max-height: 80vh;
    padding: 0px 20px;
    animation: glitch 10s 5s infinite,
               disapear 15.1s infinite;
}


@keyframes glitch {
    1% {
        transform: rotateX(50deg) skewX(-24deg);
    }
    1.5% {
        transform: rotateX(0deg) skewX(0deg);
    }
    50.5% {
        transform: rotateX(0deg) skewX(0deg);
    }
    
    51% {
        transform: rotateX(-30deg) skewX(44deg);
    }
    51.5% {
        transform: rotateX(0deg) skewX(0deg);
    }
}

@keyframes disapear {
    90%{
    opacity: 1;
    }
    91%{
    opacity: 0;
    }
    99.9%{
    opacity: 0;
    }
    100%{
    opacity: 1;
    }
}

/* CARD with flewgrow */


.about {
    padding-bottom: 100px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-20deg, rgba(125,99,141,0) 0%, rgba(1,2,10,1) 65%);
}
.about:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    z-index: 1;
    background: linear-gradient(to bottom, #01020a, transparent);
}

.about .left {
    z-index: 2;
    width: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.about .left .contentBx {
    position: relative;
    text-align: end;
    max-width: 600px;
    width: 100%;
    height: 100%;
    padding: 40px;    

    background: rgba(255, 255, 255, 0.062);
    backdrop-filter: blur(1rem);
    border-radius: .5rem;
}

.about .left .contentBx .titleText {
    position: relative;
    font-weight: 600;
    color: #fff;
    font-size: 2em;
    margin-bottom: 10px;
}
.about .left .contentBx .text {
    position: relative;
    color: #fff;
    font-size: 1em;
    padding-left: 10px;
}
.about .left .contentBx .btn {
    position: relative;
    margin-top: 30px;
    float:right;
}

.about .right {
    width: 50%;
    max-width: 600px;
}

.about .right .imgBx {
    z-index: 15;
    cursor: pointer;
    position: relative;
    max-width: 100%;
    width: 100%;
    min-height: 400px;
    max-height: 400px;
    display: flex;
    gap: 2rem;
    padding: 20px;
    
}
.about .right .imgBx .imgBxItem {
    border-radius: .5rem;
    flex-grow: 1;
    transition: width 300ms ease;
    width: 50%;
}
.about .right .imgBx .imgBxItem:hover {
    width: 100%;
}
.about .right .imgBx .imgBxItem .fitBg {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    object-fit: cover;
}
.about .right .imgBx .imgBxItem .bgShadow{
    position: relative;
    top: -362px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    background: linear-gradient(0deg, rgba(1,2,10,1) 0%, rgba(1,2,10,0) 45%);
    border: 1px solid #fff;
}

.about .right .imgBx .imgBxItem .verticale {
    width: 200px;
    position: relative;
    bottom: 490px;
    left: -5rem;
    color: #ffffff;
    transform: rotate(-90deg);
}


@media (max-width: 1000px){
    .about{
        padding: 50px 0;
        height: 100%;
        flex-direction: column-reverse;
    }
    .about .left .contentBx{
        width: 100%;
        text-align: center;
    }
    .about .left .contentBx::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-100%,-50%);
        width: 100%;
        height: 300px;
        padding: 20px;

    }
    .about .left .contentBx .btn {
        float: none;
    }
    .about .right .imgBx {
        left: -15px;
    }    
    .about .right .imgBx .imgBxItem:hover{
        width: 50%;
    }
}
@media (max-width: 760px){
    .about .left  {
        width: 80%;
    }
    .about .right  {
        width: 80%;
    }
}

/* BLOG */


.blog {
    height: 100%;
    text-align: center;
    padding: 20px 20px 20px 20px;
    overflow: hidden;
    background: rgb(125,99,141);
    background: linear-gradient(191deg, rgba(125,99,141,0) 0%, rgba(1,2,10,1) 75%);
}
.blog .bg{
    content: '';
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to bottom, #01020a, transparent);
}
.blog .content {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}
.blog .content .titleText {
    font-weight: 600;
    color: #fff;
    font-size: 2em;
    margin-bottom: 10px;
}
.blog .content .text {
    color: #fff;
    font-size: 1em;
    padding-left: 10px;
}
.blog .blogList {
    width: 100%;
    max-width: 1300px;
    position: relative;
    display: flex;
    gap: 1em;
    margin: 40px auto;
    align-items: center;
}

.blog .blogList .container {
    width: 100%;
    height: 100%;
    background-color: #ffffff10;
    backdrop-filter: blur(1rem);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: center;
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
}
.blog .blogList .container i {
    display: block;
    font-size: 45px;
    height: 90px;
    width: 90px;
    background: linear-gradient(45deg, #3a2665, #C16645 );
    border-radius: 50%;
    box-sizing: border-box;
    padding: 22px 0;
    box-shadow: 0 0 20px #ffffff15;
    margin: 20px auto;
}
.blog .blogList .container .content {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 35px;
}


@media (max-width: 959px){
    .blog .blogList {
        flex-direction: column;
    }
    .blog .blogList .container{
        width: 100%;
        height: 150px;
        flex-direction: row;
        justify-content: center;
        padding: 0;

    }
    .blog .blogList .container i {
        padding: 20px 20px;
        margin: 20px;
    }
    .blog .blogList .container .content {
        width: 100%;
        height: 100%;
        font-size: 20px;
        line-height: 20px;
        margin: 15px;
    }
    .blog .blogList .container .content .top {
        height: 60%;
        text-align: left;
        padding: 10px 0;
    }
    .blog .blogList .container .content .bottom {
        width: 100%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
    }
    .blog .blogList .container .content .bottom .auteur {
        font-size: 15px;
        line-height: 15px;
    }
    .blog .blogList .container .content .bottom .btn {
        margin: 0;
        padding: 5px;
    }
}

/* presentation card */


.presentation {
    width: 100%;
    height: 100%;
    /* min-height: 100vh; */
    padding: 0px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(1,2,10);
    background: linear-gradient(180deg, rgba(1,2,10,1) 0%, rgba(1,2,10,0.9411305147058824) 5%, rgba(1,2,10,0.7970128676470588) 14%, rgba(1,2,10,0.7499540441176471) 24%, rgba(1,2,10,0.5381893382352941) 36%, rgba(125,99,141,0) 53%, rgba(0,0,0,0.4676011029411765) 67%, rgba(17,14,27,0.8852481617647059) 77%, rgba(1,2,10,1) 100%, rgba(1,2,10,0.6705422794117647) 100%, rgba(1,2,10,0.8881893382352941) 112%);
}

.presentation .container {
    position: relative;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.presentation .container .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px 0;
}
.presentation .container .card .imgBx{
    position: relative;
    left: 25px;
    width: 500px;
    height: 400px;
    z-index: 1;
}
.presentation .container .card .imgBx img {
    border-radius: .5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.presentation .container .card .contentBx {
    position: relative;
    right: 25px;
    width: 500px;
    height: 500px;
    padding: 20px 60px 20px 100px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    backdrop-filter: blur(1rem);
}

.presentation .container .card .contentBx h2 {
    font-size: 30px;
    color: #fff;
}
.presentation .container .card .contentBx p {
    margin: 20px 10px;
    color: #fff;
}
@media (max-width: 900px){
    .presentation .container .card {
        flex-direction: column;
        max-width: 350px;
    }
    .presentation .container .card .imgBx {
        width: 100%;
        height: 250px;
        left: 0px;
    }
    .presentation .container .card .imgBx img {
        border-radius: .5rem .5rem 0 0;
    }
    .presentation .container .card .contentBx {
        width: 100%;
        height: auto;
        right: 0;
        left: 0;
        padding: 30px;
        text-align: center;
        border-radius: 0 0 .5rem .5rem;
        border-top: 0px;
    }
}
